name: Docs

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    -
      name: Prepare - Checkout Code
      uses: actions/checkout@v6
    -
      name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    -
      name: Prepare - Build Source
      run: |
        dotnet build src/Rqlite.Client/Rqlite.Client.csproj \
          --configuration Debug \
          --framework net10.0
    -
      name: A - Build Documentation
      uses: bfren/docfx-action@v4
      with:
        args: docs/docfx.json
    - 
      name: B - Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_site
